<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comm.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @comm.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comm.content %>
</p>

<p>
  <strong>参加メンバー:</strong>
  <% users = show_comm_users(@comm) %>
  <% users.each do |user| %>
  	<%= link_to user.name, user_path(user.id) %>
  <% end %>
</p>

<%= link_to 'このコミュニティに参加する', update_comm_user_path(@comm), method: 'patch' %>
<%= link_to 'このコミュニティから退会する', destroy_comm_user_path(@comm), method: 'delete' %>

<%= link_to 'Edit', edit_comm_path(@comm) %> |
<%= link_to 'Back', comms_path %>
